MONGO_URI="your_mongodb_connection_string"
JWT_SECRET="your_jwt_secret"
GOOGLE_DRIVE_FOLDER_ID="your_google_drive_folder_id"
GOOGLE_DOC_TEMPLATE_ID="your_google_doc_template_id"
EMAIL_USER="your_email_user"
EMAIL_PASS="your_email_password"

GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
SESSION_SECRET="your_session_secret"
FRONTEND_URL="http://localhost:3000"